<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Us</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userFormGroup" (ngSubmit)="addUser()">
      <input type="text"  formControlName="name" required/>
      <input type="text" formControlName="email" required/>

      <button type="submit">Submit</button>
</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="open(reply)">Save</button>
  </div>
</ng-template>

<ng-template #reply let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Response</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Hello, {{userName}}! you submitted your form</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Exit</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Contact Us</button>

<hr>

<pre>{{ closeResult }}</pre>
