<h1 id="tableLabel">DDN-430 - Topic 3 - Part 1</h1>

<div style="background-color:#33475b">
  <p>Hello World! with backgroud color div</p>
  <p *ngIf="dateNow.getHours() > 12">Good Afternooon w/ logic</p>
  <p *ngIf="dateNow.getHours() < 12">Good Morning w/ logic</p>
</div>


<p>HTML List</p>

<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>



